/.idea/
/node_modules/
/package-lock.json
/reports/
/logs/
/install.sh
/uirecorder.log
/screenshots/
/config.json
/uploadfiles/
/.editorconfig
/run.sh
/sample/
/run.bat
/commons/
/.vscode/
/hosts
/macaca-test-env.iml
/diffbase/
/macaca-logs/
